/* ==================================================================
    Side Bar
================================================================== */
.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: calc((100% - 1197px) / 2 + 280px);
  min-width: 280px;
  height: 100vh;
  padding: 0;
  margin: 0;
  float: left;
  /* background-image: linear-gradient(to top, var(--col-d), var(--col-c)); */
  justify-content: center;
  align-items: center;
  text-align: center;
}


nav {
  width: 50%;
  margin: 70px 0px;
  display: block;
  overflow-y: auto;
  font-family: 'Averia Libre', sans-serif;
}

nav ul {
  padding-left: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}

nav li {
  display: inline-block;
}

nav li a {
  color: var(--col-d);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  /* float: center; */
  padding-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 5px;
  margin: 8px 10px;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  min-width: 118px;
  text-align: center;
}

.side-bar .blog-name {
  display: inline-block;
  text-align: center;
  font-size: 40px;
  font-family: 'Averia Libre', monospace;
  font-weight: bold;
}

.side-bar .blog-name a {
  color: var(--col-d);
  text-decoration: none;
}

.side-bar .blog-name a:hover {
  color: var(--col-c);
}

.side-bar li a:hover {
  color: var(--col-d);
  border-bottom: 2px solid var(--col-d);
  border-right: 2px solid var(--col-d);
  border-radius: 2px;
}


#menu-icon {
  display: none;
}

table {
  line-height: 1em;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 1.5em;
}

tr:first-of-type {
  background: #eae9f4;
}

tr:first-of-type > th {
  text-align: center;
}

tr,
th,
td {
  padding: 10px;
  border: 1px solid lightgray;
}

table tbody tr td {
  border: 1px solid lightgray;
}

.copyright-bottom {
  display: none;
  width: auto;
  margin-top: 10px;
  padding-top: 20px;
  font-size: 70%;
  font-family: 'Courier New', Courier, monospace, serif;
  color: var(--col-d);
  text-align: center;
  border-top: 2px dotted grey;
}

.side-bar .copyright {
  position: absolute;
  bottom: 0%;
  display: block;
  margin-top: 10px;
  padding: 10px;
  font-size: 60%;
  font-family: 'Courier New', Courier, monospace, serif;
  color: lightslategrey;
}

.side-bar .copyright a {
  text-decoration: none;
  color: #a6a2a0;
  text-decoration: underline;
}

.side-bar .social-tab {
  display: block;
  margin-top: 50px;
  margin-bottom: 100px;
}

.side-bar .social-tab i {
  font-size: 2rem;
  display: inline-block;
  margin: 0px 1rem;
  transition: font-size 0.5s, margin 0.5s;
}

.side-bar .social-tab i:hover {
  font-size: 1.5rem;
  margin: 0 1.25rem;
}

.side-bar .social-tab i:not(:hover) {
  color: var(--col-d);
}

/*
medium display: .side-bar goes on top
*/
@media (max-width: 880px) {
  .side-bar {
    float: none;
    height: 150px;
    width: 100%;
    position: sticky;
    flex-direction: row;
    background-image: linear-gradient(to bottom, var(--col-a), var(--col-a), var(--col-a), var(--col-a), transparent);
    text-align: right;
    z-index: 1;
  }

  .side-bar nav {
    width: 55%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
  }

  .side-bar nav ul {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .side-bar nav ul li {
    display: inline-block;
  }

  .side-bar nav ul li a {
    margin-right: 0px;
    margin-left: 0px;
  }

  .side-bar .social-tab {
    margin: auto;
    display: none;
  }

  .side-bar .social-tab i {
    display: inline;
  }

  .side-bar .blog-name {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  .side-bar .copyright {
    display: none;
  }

  .copyright-bottom {
    display: block;
  }

  .page-end-line {
    display: none;
  }
}

/*
narrow display: collapse the header (don't show the menu items)
instead, display a burger menu.
*/
@media (max-width: 695px) {
  .side-bar {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 220px;
  }

  .side-bar .blog-name {
    text-align: center;
    margin: 0;
    margin-top: 20px;
  }

  .side-bar nav {
    width: 100%;
    margin: 10px 0px;
  }

  .side-bar nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
 

/* ==================================================================
    Content
================================================================== */

.franklin-content {
  position: relative;
  bottom: 0;
  min-height: 100vh;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 0;
  margin-left: calc((100% - 1197px) / 2 + 280px);
  padding-left: 10%;
  padding-right: 10%;
  line-height: 1.35em;
}

@media (max-width: 1197px) {
  .franklin-content {
    margin-left: 280px;
  }
}


@media (max-width: 880px) {
  .franklin-content {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0px;
    min-height: auto;
  }

  .franklin-content .page-title {
    margin-top: 0px;
    padding: 0px;
  }
}


/* ==================================================================
    Pages
================================================================== */

.page-title {
  margin-top: 0px;
  padding-top: 30px;
}
 
.page-title h1 {
  text-align: center;
  border: none;
  font-family: 'Averia Serif Libre', Georgia, 'Times New Roman', serif;
  font-size: 40px;
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.page-title p {
  font-size: smaller;
}

/* ==================================================================
    Posts Styles
================================================================== */
.post-list {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

.post-list .year-list {
  margin: 40px 0px;
}

.post-list .year-list .year-line {
  text-align: center;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
}

.post-list .year-list .year-line span.year {
  font-size: xx-large;
  color: var(--col-d);
  font-weight: bold;
}

.post-list .year-list .post {
  margin: 20px 0px;
  font-family: 'Courier New', Courier, monospace;
}

.post-list .year-list .post span.date {
  color: var(--col-d);
  font-weight: bolder;
  margin-right: 10px;
}

.post-title {
  text-align: center;
  font-size: larger;
  font-family: Lexend, Arial, Helvetica, sans-serif;
}


/* ==================================================================
    Other Styles
================================================================== */

hr.page-end-line {
  border: 6px dotted gray;
  border-bottom: none;
  height: 0;
  margin-top: 40px;
  margin-bottom: 60px;
  background-color: var(--col-a);
  opacity: 100%;
  width: 10%;
  margin-left: 40%;
}

.inline-img {
  width: var(--normal);
  height: var(--normal);
}

.franklin-content .inline-img {
  width: var(--normal);
  height: var(--normal);
  margin: 0px;
  padding: 0px 5px;
}

.scroll-blur {
  display: none;
  position: sticky;
  bottom: 0;
  height: 200px;
  width: 100%;
  background-image: linear-gradient(to top, var(--col-a), var(--col-a), transparent);
  z-index: 10;
}

@media (max-width: 880px) {
  .scroll-blur {
    height: 100px;
  }
}

.hover-gradient {
  background: none;
}

.hover-gradient:hover {
  /* background-image: linear-gradient(100deg, transparent, transparent, transparent, transparent, #ee7752, #e73c7e, #23a6d5, #23d5ab, transparent, transparent, transparent, transparent); */
  background-image: linear-gradient(100deg, transparent, transparent, transparent, var(--col-b), var(--col-b), var(--col-b), transparent, transparent, transparent);
  background-size: 400% 400%;
	animation: gradient-back 5s linear infinite;
}

@keyframes gradient-back {
	0% {
		background-position: 0% 0%;
    color: var(--col-d);
    border-color: var(--col-a);
	}
  20% {
		background-position: 25% 25%;
    color: var(--col-c);
    /* border-color: var(--col-b); */
	}
  50% {
    background-position: 50% 50%;
    color: var(--col-c);
    border-color: var(--col-d);
  }
  75% {
    background-position: 75% 75%;
    color: var(--col-c);
    /* border-color: var(--col-b); */
  }
  100% {
    background-position: 100% 100%;
    color: var(--col-d);
    border-color: var(--col-a);
  }
}

@media (min-width: 880px) {
  .blog-name .expand-on-hover span {
    display:inline-flex;
    overflow: hidden;
    width: 1px;
    opacity: 0%;
    transition: width 1s ease, opacity 1s ease;
  }
  
  .blog-name .expand-on-hover:hover  span {
    width: 105px;
    opacity: 100%;
  }
}
