/* ==================================================================
    Side Bar
================================================================== */
.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: calc((100% - 66.5rem) / 2 + 264px);
  min-width: 300px;
  height: 100vh;
  padding: 0;
  margin: 0;
  float: left;
  background-color: var(--col-c);
  justify-content: center;
  align-items: center;
  text-align: center;
}


nav {
  width: 64%;
  display: block;
  overflow-y: auto;
}

nav ul {
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

nav li {
  display: block;
  margin: 20px 0px;
}

nav li a {
  color: var(--col-b);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  float: center;
  padding-top: 10px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 5px;
  margin-left: 7px;
  margin-right: 7px;
  /* border-bottom: 2px solid #4c9cf1; */
  transition: color 0.3s ease;
}

.side-bar .blog-name {
  width: 35%;
  margin: 50px auto;
  display: inline-block;
  text-align: center;
  font-size: xx-large;
  font-family: "Special Elite", Monaco, monospace;
}

.side-bar .blog-name a {
  color: #a6a2a0;
  text-decoration: none;
}

.side-bar .blog-name a:hover {
  color: black;
}

.side-bar li a:hover {
  color: black;
  border-bottom: 2px solid black;
}

#menu-icon {
  display: none;
}

/* @media (max-width: 480px) {
  header {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media (min-width: 481px) {
  header {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
} */

/* wide display: enforce maximum width of header to match content */
/* @media (min-width: 940px) {
  header {
    width: 705px;
    margin-left: auto;
    margin-right: auto;
  }
} */

/*
medium display: nav goes under name
*/
/* @media (max-width: 760px) {
  header { display: block; }

  header .blog-name {
    display: block;
    width: 100%;
    padding-bottom: 10px;
  }

  nav {
    width: 100%;
  }
} */

/*
narrow display: collapse the header (don't show the menu items)
instead, display a burger menu.
*/
@media (max-width: 500px) {
  header {
    height: 35px;
    display: flex;
    align-items: center;
  }

  header .blog-name {
    display: inline-block;
    width: 70%;
  }

  nav {
    display: inline-block;
    width: 27%;
  }

  nav ul,
  nav:active ul {
    display: none;
    position: absolute;

    /* padding: 20px; */
    background: #fff;
    border: 1px solid #444;
    right: 50px;
    top: 60px;
    width: 30%;
    border-radius: 4px 0 4px 4px;
    z-index: 1;
  }

  nav li {
    text-align: left;
    display: block;
    padding: 0;
    margin: 0;
  }
  header li a { border-bottom: none; }
  header li a:hover { border-bottom: none; }

  nav:hover ul {
    display: block;
  }

  #menu-icon {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
  }
}

table {
  line-height: 1em;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 1.5em;
}

tr:first-of-type {
  background: #eae9f4;
}

tr:first-of-type > th {
  text-align: center;
}

tr,
th,
td {
  padding: 10px;
  border: 1px solid lightgray;
}

table tbody tr td {
  border: 1px solid lightgray;
}

.side-bar .copyright {
  position: absolute;
  bottom: 0%;
  display: block;
  margin-top: 10px;
  padding: 10px;
  font-size: 60%;
  font-family: 'Courier New', Courier, monospace, serif;
  color: var(--col-a);
  border-top: 2px dotted lightgrey;
}

.side-bar .copyright a {
  text-decoration: none;
  color: #a6a2a0;
  text-decoration: underline;
}

.side-bar .social-tab {
  display: block;
  margin-top: 50px;
  margin-bottom: 100px;
}

.side-bar .social-tab i {
  font-size: 2rem;
  color: var(--col-b);
  display: inline-block;
  margin: 0px 10px;
}

.side-bar .social-tab i:hover {
  color: black;
  font-size: 1.5rem;
}

/* ==================================================================
    Content
================================================================== */

.franklin-content {
  position: relative;
  bottom: 0;
  min-height: 100vh;
  margin-top: 70px;
  margin-right: auto;
  margin-left: calc((100% - 1064px) / 2 + 264px);
  padding-left: 12.5%;
  padding-right: 12.5%;
  line-height: 1.35em;
}

/* On wide screens, fix content width to a max value.
@media (min-width: 940px) {
  .franklin-content {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}

On narrow device, reduce margins.
@media (max-width: 480px) {
  .franklin-content {
    padding-left: 6%;
    padding-right: 6%;
  }
}*/


/* ==================================================================
    Pages
================================================================== */
 
.page-title h1 {
  text-align: center;
  border: none;
  font-family: 'Special Elite';
  font-size: 40px;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.page-title p {
  font-size: smaller;
}


/* Typing Effect */

.wrapper {
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 8ch;
  animation: typing 1s steps(8), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


/* Construction Effect */

.constructed {
  position: relative;
  height: 1em;
  color: transparent;
  line-height: 1.03em;
}

.constructed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  pointer-events: none;
}

.constructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: constructed1 5s ;
}

.constructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  animation: constructed2 5s ;
}

.constructed > div:nth-child(3) {
   -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  animation: constructed3 5s ;
}

.constructed > div:nth-child(4) {
   -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: constructed4 5s ;
}

@keyframes constructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
}

@keyframes constructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0%);
  }
}

@keyframes constructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
}

@keyframes constructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
}

/* ==================================================================
    Other Styles
================================================================== */

hr {
  border: dashed;
  border-width: 2px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.inline-img {
  width: var(--normal);
  height: var(--normal);
}
