table {
  line-height: 1em;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 1.5em;
}

tr:first-of-type {
  background: #eae9f4;
}

tr:first-of-type > th {
  text-align: center;
}

tr,
th,
td {
  padding: 10px;
  border: 1px solid lightgray;
}

table tbody tr td {
  border: 1px solid lightgray;
}

.copyright-bottom {
  display: block;
  width: 90%;
  margin-top: 20px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--small-font-size);
  font-family: 'Courier New', Courier, monospace, serif;
  text-align: center;
}

.copyright-bottom p {
  /* border: 1px dotted grey; */
  background-color: var(--background-color);
  color: darkslategray;
}

/* ==================================================================
    Content
================================================================== */

.franklin-content {
  position: relative;
  bottom: 0;
  min-height: 100vh;
  min-width: 70%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 15%;
  margin-left: 15%;
  padding: 40px 10%;
  line-height: 1.35em;
  background: rgba(250, 249, 245, 0.5);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 880px) {
  .franklin-content {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: auto;
  }

  .franklin-content .page-title {
    margin-top: 0px;
    padding: 0px;
  }
}


/* ==================================================================
    Pages
================================================================== */

.page-title {
  margin-top: 0px;
  padding-top: 30px;
}
 
.page-title h1 {
  text-align: center;
  border: none;
  font-size: 40px;
  padding: 0;
  margin-top: 0em;
  margin-bottom: 0.5em;
}

.page-title p {
  font-size: smaller;
}

/* ==================================================================
    Other Styles
================================================================== */

hr.page-end-line {
  border: 6px dotted gray;
  border-bottom: none;
  height: 0;
  margin-top: 40px;
  margin-bottom: 60px;
  background-color: var(--col-a);
  opacity: 100%;
  width: 10%;
  margin-left: 40%;
}

.inline-img {
  width: var(--base-font-size);
  height: var(--base-font-size);
}

.franklin-content .inline-img {
  width: var(--normal);
  height: var(--normal);
  margin: 0px;
  padding: 0px 5px;
}

.scroll-blur {
  display: none;
  position: sticky;
  bottom: 0;
  height: 200px;
  width: 100%;
  background-image: linear-gradient(to top, var(--col-a), var(--col-a), transparent);
  z-index: 10;
}

@media (max-width: 880px) {
  .scroll-blur {
    height: 100px;
  }
}
