@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat&family=Open+Sans&display=swap');
/* ==================================================================
    VARIABLES
================================================================== */

:root {
  --base-font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --title-font-family: "Montserrat", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --nav-font-family: "Montserrat", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --mono-font-family: "Fira Code", 'Courier New', Courier, monospace;
  --base-font-size:   15px;
  --base-font-weight: 400;
  --base-line-height: 1.5;

  --small-font-size:  calc(var(--base-font-size) * 0.7);

  --spacing-unit:     30px;

  --background-color: #FAF3F3;
  --text-color:       #363431;
  --primary-color:    #E1E5EA;
  --secondary-color:  #A7BBC7;
  --tertiary-color:   #C9576C;

  --grey-color:       #999;
  --grey-color-light: #cccccc;
  --grey-color-dark:  #5e5e5e;
}

/* ==================================================================
    DARK MODE
================================================================== */

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #343131;
        --text-color:       #c9c7c3;
        --primary-color:    #E1E5EA;
        --secondary-color:  #A7BBC7;
        --tertiary-color:   #C9576C;

        --grey-color:       #999999;
        --grey-color-light:  #5e5e5e;
        --grey-color-dark:  #cccccc;
    }

    img {
        filter: brightness(.8) contrast(1.2);
    }

    .franklin-content .about a {
        font-weight: 600;
    }
}

/* ==================================================================
    DEFAULT FONT AND LAYOUT
================================================================== */

html {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
  color: var(--text-color);
  background-color: var(--background-color) !important;
}

body {
    margin: 0;
    padding: 0;
    line-height: var(--base-line-height);
    background-color: var(--background-color) !important;
}

.article {
    margin-top: 80px;
}

.franklin-content {
    margin-top: 40px;
}

.franklin-content section {
    background-color: var(--background-color) !important;
    padding-bottom: 40px;
}

p {
    color: var(--text-color) !important;
}

p.institution {
    color: var(--grey-color) !important;
}

/* ==================================================================
    NAVBAR
================================================================== */

nav {
    background-color: var(--background-color) !important;
    font-family: var(--nav-font-family) !important;
}

nav a.navbar-brand {
    font-weight: 500;
    color: var(--tertiary-color) !important;
}

nav a.navbar-brand:hover {
    color: var(--secondary-color) !important;
}

nav .nav-link {
    color: var(--grey-color-dark) !important;
}

nav .nav-link:hover {
    color: var(--grey-color-light) !important;
}

/* ==================================================================
    TITLES
================================================================== */

.franklin-content h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: var(--text-color) !important;
  font-family: var(--title-font-family);
}

.franklin-content h1 a { color: inherit; }
.franklin-content h1 a:hover { color: var(--grey-color-dark); text-decoration: none; }
.franklin-content h2 a { color: inherit; }
.franklin-content h2 a:hover { color: var(--grey-color-dark); text-decoration: none; }
.franklin-content h3 a { color: inherit; }
.franklin-content h3 a:hover { color: var(--grey-color-dark); text-decoration: none; }
.franklin-content h4 a { color: inherit; }
.franklin-content h4 a:hover { color: var(--grey-color-dark); text-decoration: none; }
.franklin-content h5 a { color: inherit; }
.franklin-content h5 a:hover { color: var(--grey-color-dark); text-decoration: none; }
.franklin-content h6 a { color: inherit; }
.franklin-content h6 a:hover { color: var(--grey-color-dark); text-decoration: none; }

/* ==================================================================
    LINKS
================================================================== */

.franklin-content a {
    color: var(--tertiary-color);
}

.franklin-content a:hover {
    color: var(--secondary-color);
}

.franklin-content a:focus {
    color: var(--tertiary-color);
}

.franklin-content .about a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

a.back-to-top i {
    color: var(--grey-color-dark) !important;
}

.site-footer a {
    color: inherit !important;
    text-decoration: none;
}