<!-- CONTENT ENDS HERE -->
    {{ if hasmath }}
        {{ insert foot_katex.html }}
    {{ end }}
    {{ if hascode }}
        {{ insert foot_highlight.html }}
    {{ end }}
    <div class="copyright-bottom">
        <p>&copy; {{ fill author }} {{ getyear }}. Website built with <a href="https://github.com/tlienart/Franklin.jl"> <img src="https://franklinjl.org/assets/infra/logoF2.svg" alt="Franklin.jl" srcset="" class="inline-img"></a> and <a href="https://julialang.org"><img src="/assets/images/julialogo.svg" alt="The Julia programming language" srcset="" class="inline-img"></a>.</p>
    </div>
    <script src="/assets/scripts/myscript.js"></script>
  </body>
</html>
