<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta name="google-site-verification" content="S0kmPNF2Xlaju-U6yBmvjPCA271iP6vC3Mm1gWLiSLA" /> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{if hasmath}} {{insert head_katex.html }} {{end}} {{if hascode}} {{insert
    head_highlight.html }} {{end}}
    <link rel="stylesheet" href="/css/franklin.css" />
    <link rel="stylesheet" href="/css/my_styles.css" />
    <link rel="icon" href="/assets/favicon.ico" />
    {{isdef title}}
    <title>{{fill title}}</title>
    {{end}} 
    {{insert head_external.html }}
    <!-- External files and liberaries -->
  </head>
  <body>
    {{insert header.html}}  
    <!-- Content appended here -->
